{{/* FAQ Schema - use in articles with .Params.faq (list of {q, a} / {question, answer} pairs) */}}
{{ with .Params.faq }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{- range $i, $item := . -}}
    {{- if reflect.IsMap $item -}}
    {{ if $i }},{{ end }}
    {
      "@type": "Question",
      "name": {{ with $item.q }}{{ . | jsonify }}{{ else }}{{ $item.question | jsonify }}{{ end }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ with $item.a }}{{ . | jsonify }}{{ else }}{{ $item.answer | jsonify }}{{ end }}
      }
    }
    {{- end -}}
    {{- end -}}
  ]
}
</script>
{{ end }}
